@font-face {
  font-family: "MyWebFont";
  src: url("./fontawesome-webfont.woff");
}
body {
  background-color: white !important;
  background-image: none;
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.btnHeader {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnHeader img {
  width: 130px !important;
}
 #ButtonMenuHeadFor {
  background-color: #FEE440;
  color: white;
  height:auto;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  }

  #btnHeader.ButtonMenuHeadFor:hover {
    color: white;
    background-color: #FEE440;
    transition: .2s;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;

}
.card {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.card:hover {
  cursor: pointer;
  opacity: .7;
  /* background-color: #404040 !important; */
}
.card1 {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease !important;
}
.card1:hover {
  /* background: rgb(64, 64, 64) !important;
  background: linear-gradient(
    180deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 1) 100%
  ) !important;
  */ cursor: pointer;
  opacity: .7;
}
.card img {
  margin-top: 20px;
}
.card p {
  margin-top: 20px;
  color: white;
}
.card1 img {
  margin-top: 20px;
}
.card1 p {
  margin-top: 20px;
  color: white;
}

.tourCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.tourCard .ButtonMenuHeadUnder {
  background-color: #FEE440;
  color: white;
  height: auto;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  }

  .tourCard .ButtonMenuHeadUnder:hover {
    color: white;
    background-color: #FEE440;
    transition: .2s;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
  }




  .ButtonInfoForText {

    transform: translate(-50%, -50%) scale(1);
    width: auto;
    height: auto;
    padding: 10px 15px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 18px;
    color: #ffffff;
    background: hsl(52, 99%, 62%);
    border-radius: 60px;
    box-shadow: 0 0 1px hsl(52, 99%, 62%), 0 0 5px hsl(52, 99%, 62%);
    transition: .8s;

  }

  .ButtonInfoForText:hover {
    transform: translate(-50%, -50%) scale(.9);
    animation: pulse 1s linear infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 5px hsl(51, 81%, 86%), 0 0 10px hsl(51, 53%, 79%);
    }

    50% {
      box-shadow: 0 0 0 1px hsl(52, 95%, 78%), 0 0 0 10px hsl(52, 81%, 79%);
      filter: blur(1px);
    }

    100% {
      box-shadow: 0 0 0 10px hsl(52, 74%, 79%), 0 0 0 15px hsl(52, 73%, 88%);
    }
  }
.heading {
  padding-top: 30px !important;
  padding-left: 60px !important;
  padding-right: 30px !important;
  position: relative;
}
.heading h1 {
  font-size: 25px !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 400;
  position: relative;
}
.heading h1::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 0;
  width: 100px;
  height: 3px;
   /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
   background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
   background-size: 400% 400%;
   animation: HeadingH1 3s ease infinite;
   }

   @keyframes HeadingH1 {
     0% {
       background-position: 0% 50%;
     }

     50% {
       background-position: 100% 50%;
     }

     100% {
       background-position: 0% 50%;
     }
}
.heading p {
  margin-top: 30px;
}
.heading img {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 45px;
  height: 300px;
}
.heading span {
  display: block;
  margin-top: 50px !important;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
.heading span a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.heading span a:hover {
  color: #FF865F;
}
.heading1 span a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.heading1 span a:hover {
  color: #FF865F;
}
.heading1 {
  padding-top: 30px !important;
  padding-left: 60px !important;
  padding-right: 30px !important;
  position: relative;
}
.heading1 h1 {
  font-size: 25px !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 400;
  position: relative;
}
.heading1 h1::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 0;
  width: 100px;
  height: 3px;
   background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
   background-size: 400% 400%;
   animation: Heading1H1 3s ease infinite;
   }

   @keyframes Heading1H1 {
     0% {
       background-position: 0% 50%;
     }

     50% {
       background-position: 100% 50%;
     }

     100% {
       background-position: 0% 50%;
     }
}


.heading1 p {
  margin-top: 30px;
}
.heading1 .img1 {
  position: absolute;
  top: 27%;
  right: 0%;
  width: 20px;
  height: 50%;
}
.heading1 .img2 {
  position: absolute;
  top: 27%;
  right: -142.3%;
  width: 50px;
  height: 50%;
}
.heading1 span {
  display: block;
  margin-top: 50px !important;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

@media screen and (max-width: 566px) {
  .btnHeader {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnHeader img {
    width: 110px !important;
  }
  .btnHeader button {
    font-size: 14px;
  }
  .card {
    width: 33.4% !important;
  }
  .card:hover {
    background-color: #404040 !important;
  }
  .card1 {
    width: 33.2% !important;
  }
  .heading h1 {
    margin-top: 20px;
  }
  .heading p {
    margin-top: 30px;
  }
  .heading img {
    display: none;
  }
  .heading1 .img1 {
    display: none;
  }
  .heading1 .img2 {
    display: none;
  }
  .heading1 span {
    margin-bottom: 20px;
    margin-top: 30px !important;
  }
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader1 {
  font-size: 140px;
}

.loader p {
  margin-left: 10px;
  font-size: 18px;
  color: #3d1699;

}

@media(max-width:400px) {
  .loader1 {
    size: 100px;
  }

  .loader p {
    font-size: 15px;
  }
}

.sarlavha {
  text-align: center;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.85) !important;
  margin-bottom: 20px;
  font-size: 2.1rem;
  margin-left: 30px;
  margin-right: 30px;
}
.AnimationPartnerOn {
  height: 4px;
  width: 100%;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.loader1 {

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #2D2991, #ffffff, #FF0000, #FEE440, #030303);
  animation: loader1 2s ease infinite;
}

@keyframes loader1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.sliderHomiy {
  width: 100%;
  height: max-content;
  text-align: center;
}
.toolpat {
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid lightgray;
}
.sliderHomiy p {
  color: rgb(139, 139, 140);
  font-size: 13px;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.sliderHomiy img {
  margin-bottom: 40px;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.youtube {
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}
