body{
    overflow-x: hidden;
}
.sliderHeader{
    width: 100vw;
    height: 100vh;
}
.sliderHeader img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.text{
    text-align: left;
    padding:3% 10%;
}
.text h1{
    display: inline-block;
    font-size: 30px;  
    position: relative;  
    font-weight: 400;
}
.AnimationUnderNews1 {
    height: 3px;
    width: 25%;
    margin: auto;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
    background-size: 400% 400%;
    border-radius: 20%;

    animation: AnimationUnderNews1 2s ease infinite;
}

@keyframes AnimationUnderNews1 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text1 {
    margin: auto;
    text-align: center;

}

.AnimationUnderNews2 {
    height: 3px;
    width: 16%;
    margin: auto;
    border-radius: 8px;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #FEE440, #FF865E, #dfd2b9, #729dc5);
    background-size: 400% 400%;
    margin-top: 5px;

    animation: AnimationUnderNews2 2s ease infinite;
}

@keyframes AnimationUnderNews2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.text h1::after{
    content:'';
    position: absolute;
    top: 140%;
    left: 25%;
    width: 50%;
}
.text h2{
    margin-top: 50px;
    font-size: 23px;
    font-weight: 700;

}
.text p{
    margin-top: 20px;
    color:rgba(0,0,0,0.8);
    font-size:18px;
}
.text ul li{
    font-size: 18px;
}
.btn1{
    background-color: #FF865F;
    color:white;
    border-radius: 5px;
    padding:5px 30px;
    font-size: 16px;
    font-weight: 600;
    border:1px solid black;
    margin-right: 20px;
}
.btn2{
    border:none;
    background-color: #FF865F;
    color:white;
    border-radius: 5px;
    padding:5px 30px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}
.header{
    width: 100%;
    height:100vh;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader1 {
    size: 140px;
}

.loader p {
    margin-left: 10px;
    font-size: 18px;
    color: #3d1699;

}

@media(max-width:400px) {
    .loader1 {
        size: 100px;
    }

    .loader p {
        font-size: 15px;
    }
}
.cardchalar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin:30px 0;
}
@media(max-width:767px) {
    .AnimationUnderNews1 {
        width: 60%;
        height: 2px;
    }

    .AnimationUnderNews2 {
        width: 40%;
        height: 2px;

    }
}
@media screen and (max-width:566px) {
    .text h1{
        display: inline-block;
        font-size: 26px;  
        position: relative;  
        font-weight: 400;
    }
}
@media(max-width:450px) {
    .text h1 {
        font-size: 17px;
    }
}
