*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsItem {
  height: auto;
  padding: 5% 0%;
  margin-top: 5%;

}
.newbg {
  width: 100%;
  height: 20vh;
  padding: 5% 0%;
  /* background-image: url(../img/loader-bg.png); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.loader1 {
  size: 140px;
}

.loader p {
  margin-left: 10px;
  font-size: 18px;
  color: #3d1699;

}

@media(max-width:400px) {
  .loader1 {
    size: 100px;
  }

  .loader p {
    font-size: 15px;
  }
}
body{
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}
.title {
    width: 285px;
    margin: auto;
    margin-top:40px ;
    margin-bottom:40px ;
   
}
.title h1{
    letter-spacing: 1px;
    font-size: 36px;
    color: #585959;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
}
.AnimationUnderTadbir1 {
  height: 3px;
  width: 100%;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
  background-size: 400% 400%;
  animation: AnimationUnderTadbir1 2s ease infinite;
}

@keyframes AnimationUnderTadbir1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.AnimationUnderTadbir2 {
  height: 3px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #FEE440, #FF865E, #dfd2b9, #729dc5);
  background-size: 400% 400%;
  animation: AnimationUnderTadbir2 2s ease infinite;
}

@keyframes AnimationUnderTadbir2 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.AnimationUnderNews1 {
  height: 3px;
  width: 100%;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
  background-size: 400% 400%;
  border-radius: 20%;

  animation: AnimationUnderNews1 2s ease infinite;
}

@keyframes AnimationUnderNews1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.AnimationUnderNews2 {
  height: 3px;
  width: 60%;
  margin: auto;
  border-radius: 8px;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #FEE440, #FF865E, #dfd2b9, #729dc5);
  background-size: 400% 400%;
  margin-top: 5px;

  animation: AnimationUnderNews2 2s ease infinite;
}

@keyframes AnimationUnderNews2 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
    height: 302px;
    }

    .card:hover {
      cursor: pointer;
      transition: .3s;
      box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
    }

/* New-------------------------- */

.newtitle {
    width: auto;
    padding: 3% 10%;
    margin: auto;
    }

    .SectionRowNew {
      border-radius: 10px;
      background-color: #FEF9EF;
}
.newtitle h1{
    letter-spacing: 1px;
    font-size: 36px;
    color: #585959;
    margin: 0;

    font-weight: 400;
    text-align: center;
}
.img {
  margin-top: 10px;
}
.img img{
    width: 100%;
    height: auto;

}
.text p:nth-child(1) {
  font-size: 18px;
  color: #444;
  margin: 0 auto;
  padding: 5px 0;
  line-height: 200%;
  }

  .text p:nth-child(2) {
    font-size: 17px;
    color: #444;
    margin: 0 auto;
    padding: 5px 0;
    line-height: 200%;
}
.ButtonInfoForText {

    transform: translate(-50%, -50%) scale(1);
    width: 75px;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 11%;
    margin-top: 10%;
    font-size: 13px;
    color: #ffffff;
    background: hsl(52, 99%, 62%);
    border-radius: 10px;
    box-shadow: 0 0 1px hsl(52, 99%, 62%), 0 0 5px hsl(52, 99%, 62%);
    transition: .8s;

}

.ButtonInfoForText:hover {
    transform: translate(-50%, -50%) scale(1);
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 2px hsl(51, 81%, 86%), 0 0 8px hsl(51, 53%, 79%);
    }

    50% {
        box-shadow: 0 0 0 1px hsl(52, 95%, 78%), 0 0 0 5px hsl(52, 81%, 79%);
        filter: blur(.5px);
    }

    100% {
        box-shadow: 0 0 0 5px hsl(52, 74%, 79%), 0 0 0 10px hsl(52, 73%, 88%);
    }
}
.CardGroupNew {
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 1%;
  cursor: pointer;
}

.CardGroupNew:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CardGroupTadbir {
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 1%;
  cursor: pointer;
}

.CardGroupTadbir:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CardGroupNewImg {
  width: 50%;
  height: 100%;
}

.CardGroupNewImg img {
  width: 100%;
  height: 100%;
}

.CardGroupNewText {
  width: 50%;
  height: 100%;
  background-color: #EEF1F7;
  padding: 3% 1.5%;
}

.CardGroupTadbirImg {
  width: 50%;
  height: 100%;
}

.CardGroupTadbirImg img {
  width: 100%;
  height: 100%;
}

.CardGroupTadbirText {
  width: 50%;
  height: 100%;
  background-color: #EEF1F7;
  padding: 2% 1.5%;
}

.CardGroupNewText p:nth-child(1) {
  width: 100%;
  display: flex;

}

.CardGroupNewText p:nth-child(1) i:nth-child(2) {
  margin-left: 10px;
}

.CardGroupNewText p:nth-child(2) {
  width: 100%;
  font-weight: bold;
  font-size: 22px;

}

.CardGroupNewText p:nth-child(3) {
  width: 100%;
  font-size: 16px;

}
.CardGroupTadbirText1 {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}
.CardGroupTadbirText2 {
  width: 100%;
  height: 60%;
  font-size: 17px;
}
.CardGroupTadbirTextInDiv {
  align-items: flex-end;
  width: 100%;
  line-height: 1px;
}
@media(min-width:1024px){
  .svg {
    position: absolute !important;
    top: 365px !important;
  }
  .cont {
    position: relative;
    top: 75px;
  }
} 
@media(max-width:1024px){
  .cont {
    position: relative;
    top: 100px;
  }

} 
@media(max-width:992px){
  .cont {
    position: relative;
    top: 100px;
  }
  .svg {
    display: none;
  }
} 

@media(max-width:767px) {
  .ButtonInfoForText {
    margin-left: 35px;
  }
  .text h1 {
    margin-top: 10px;
    margin: auto;
    text-align: center;
    font-size: 24px;
  }
  .cont {
      position: relative;
      top: 100px;
    }
    .newsItem {
      margin-top: 5%;
    }
.CardGroupNew {
  height: auto;
  display: block;
  justify-content: center;
}

.CardGroupTadbir {
  height: auto;
  display: block;
  justify-content: center;
}

.CardGroupNewImg {
  width: 95%;
  height: 300px;
  margin: auto;

}

.CardGroupNewText {
  width: 95%;
  height: 350px;
  margin: auto
}

.CardGroupTadbirImg {
  width: 95%;
  height: 300px;
  margin: auto;

}

.CardGroupTadbirText {
  width: 95%;
  height: 350px;
  margin: auto
}
  }

  @media(max-width:450px) {
    .text h1 {
      margin: auto;
      text-align: center;
      font-size: 17px;
      font-weight: bolder;
      margin-top: 10px;
    }
    .CardGroupNewText p:nth-child(2) {
      font-size: 19px;
    }

    .CardGroupNewText p:nth-child(3) {
      font-size: 14px;
    }
    .cont {
      position: relative;
      top: 100px;
    }
  }

  @media(max-width:400px) {
    .textP3 {
      height: 250px;
      overflow: hidden;
      overflow: scroll;
      padding: 5px 5px;
      text-align: start;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: .2px solid rgb(207, 202, 192);
    }
    .CardGroupTadbirTextInDiv p:nth-child(2) {
      font-size: 12px;
    }
.newsItem {
  padding: 15px;
}

.CardGroupNewText p:nth-child(1) i:nth-child(2) {
  font-size: 12px;
  margin-top: 3px;
}

.CardGroupNewText p:nth-child(2) {
  font-size: 17px;
}

.CardGroupNewText p:nth-child(3) {
  font-size: 13px;
}
    .cont {
      position: relative;
      top: 100px;
    }
  }

  @media(max-width:350px) {
    .newtitle h1 {
      font-size: 25px !important;
    }

    .CardGroupNewText p:nth-child(2) {
      font-size: 15px;
    }

    .CardGroupNewText {
      width: 100%;

    }

    .CardGroupTadbirText {
      width: 100%;

    }

    .CardGroupNew {
      margin-top: 3%;
    }

    .CardGroupTadbir {
      margin-top: 3%;
    }

    .CardGroupNewImg {
      width: 100%;
    }

    .CardGroupTadbirImg {
      width: 100%;
    }

    .CardGroupNewText p:nth-child(3) {
      font-size: 12px;
    }
    .text h1 {
      margin: auto;
      text-align: center;
      font-size: 17px;
      font-weight: bolder;
      margin-top: 10px;
    }
    .buttons Button {
      margin: 10px ; 
    }
    .cont {
      position: relative;
      top: 100px;
    }
    .CardGroupTadbirTextInDiv p:nth-child(2) {
      font-size: 11px;
    }
  }
  .text div {
    display: flex;
}
.sliderHeader {
  width: 100%;
}

.bg {
  position: absolute;
  top: 400px;
  width: 300px;
  height: 300px;
}

.header__box {
  text-align: center;
  position: relative;
  top: -430px;
  font-family: Glamour Absolute;
}

.star {
  font-size: 16px;
line-height: 100.55%;
color: #FFFFFF;
}
.star img {
  margin-right: 5px;
  width: 25px;
  position: relative;
  top: -3px;
}

.lines {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 14px;
}
.line {
  width: 10%;
  height: 2px;
  background-color: #FFF;
}
.lines p {
  margin: 0 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 85.45%;
  text-align: center;
  color: #FFD7BD;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 85.45%;
  text-align: center;
  color: #FFD7BD;
}
.p__title{
  font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
width: 900px;
margin: auto;
}

.buttons {
  margin-top: 20px;
  z-index: 60;
  position: relative;
  color: #B68050;
}
.buttons Button {
  color: #B68050;
  padding: 7px 15px;
  border-radius: 14px;
}

.links {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
  height: 30px;
  margin-top: 70px;
}
.link {
  display: flex;
}
.link p {
  font-size: 12px;
  color: #FFF;
  letter-spacing: 1px;
  width: 70px;
  text-align: start;
  margin-left: 15px;
}

.svg {
  position: relative;
  top: -275px;
  margin-bottom: -250px;
}
 figure {
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 340px;
	 height: 260px;
   margin-right: 0;
	 border-radius: 10px;
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	 transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	 overflow: hidden;
}
 figure:hover {
	 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
 figure:hover img {
	 transform: scale(1.25);
}
 figure:hover figcaption {
	 bottom: 0;
}
 figure h1 {
	 position: absolute;
	 top: 50px;
	 left: 20px;
	 margin: 0;
	 padding: 0;
	 color: white;
	 font-size: 60px;
	 font-weight: 100;
	 line-height: 1;
}
 figure img {
   width: 100%;
   height: 100%;
	 transition: 0.25s;
}
 figure figcaption {
	 position: absolute;
	 bottom: -38%;
	 left: 0;
	 width: 100%;
	 margin: 0;
	 padding: 18px;
	 background-color: rgba(0, 0, 0, 0.50);
	 box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	 color: white;
	 line-height: 1;
	 transition: 0.25s;
}
 figure figcaption h3 {
	 margin: 0 0 20px;
	 padding: 0;
   color: #FFF;
   font-size: 20px;
}
 figure figcaption p {
	 font-size: 14px;
	 line-height: 1.75;
}
figure figcaption p span {
  color: #FFF;
}
 figure figcaption button {
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin: 10px 0 0;
	 padding: 10px 30px;
	 background-color: #1abc9c;
	 border: none;
	 border-radius: 5px;
	 color: white;
	 font-size: 14px;
   margin-top: 20px;
}
 
.figure__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}
