*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.citem img{
    width: 100%;
    height: auto;
}
.SteamChangeColor {
    height: 3px;
    width: 20%;
    margin: auto;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
    background-size: 400% 400%;
    border-radius: 20%;

    animation: SteamChangeColor1 2s ease infinite;
}

@keyframes SteamChangeColor1 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.AnimationUnderNews1 {
    height: 3px;
    width: 285px;
    margin: auto;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
    background-size: 400% 400%;
    border-radius: 20%;

    animation: AnimationUnderNews1 2s ease infinite;
}

@keyframes AnimationUnderNews1 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.AnimationUnderNews2 {
    height: 3px;
    width: 200px;
    margin: auto;
    border-radius: 8px;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #FEE440, #FF865E, #dfd2b9, #729dc5);
    background-size: 400% 400%;
    margin-top: 5px;

    animation: AnimationUnderNews2 2s ease infinite;
}

@keyframes AnimationUnderNews2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1{
    font-size: 34px;
    color: #585959;
    font-family: arial;
    text-align: center;
    padding: 34px 0px 8px 0px;
    
}

@media screen and (max-width:1300px){
    h1{
        padding: 24px 0px 4px 0px;
        font-size: 28px;
    }
}
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader1 {
    size: 140px;
}

.loader p {
    margin-left: 10px;
    font-size: 18px;
    color: #3d1699;

}

@media(max-width:400px) {
    .loader1 {
        size: 100px;
    }
    .loader p {
        font-size: 15px;
    }
}
.sliderHeader{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.sliderHeader img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
header {
    margin-top: -260px;
}
.notepad {
    width: 100%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, .15);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    margin-bottom: 60px;
}
.top {
    width: 100%;
    height: 50px;
    background: #333;
    border-radius: 5px 5px 0 0;
}
.paper {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    padding: 35px 20px;
    background: repeating-linear-gradient(#f1ede9, #f1ede9 31px, #94acd4 31px, #94acd4 32px);
    font-family: 'Shadows Into Light', cursive;
    line-height: 32px;
    outline: 0;
    font-size: 22px;
}
.HeaderForBosqich {
    height: 650px;
}

/* ----------Staem.js for it is------------*/
.HeaderSteam {
    height: 650px
}

/* --------------------------------------- */

.sliderHeader {
    width: 100%;
  }
  
  .bg {
    position: absolute;
    top: 400px;
    width: 300px;
    height: 300px;
  }
  
  .header__box {
    text-align: center;
    position: relative;
    top: -430px;
    font-family: Glamour Absolute;
  }
  
  .star {
    font-size: 16px;
  line-height: 100.55%;
  color: #FFFFFF;
  }
  .star img {
    margin-right: 5px;
    width: 25px;
    position: relative;
    top: -3px;
  }
  
  .lines {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 14px;
  }
  .line {
    width: 10%;
    height: 2px;
    background-color: #FFF;
  }
  .lines p {
    margin: 0 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 85.45%;
    text-align: center;
    color: #FFD7BD;
  }
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 85.45%;
    text-align: center;
    color: #FFD7BD;
  }
  .p__title{
    font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  width: 900px;
  margin: auto;
  }
  
  .buttons {
    margin-top: 20px;
    z-index: 60;
    position: relative;
    color: #B68050;
  }
  .buttons Button {
    color: #B68050;
    padding: 7px 15px;
    border-radius: 14px;
  }
  
  .links {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: auto;
    height: 30px;
    margin-top: 70px;
  }
  .link {
    display: flex;
  }
  .link p {
    font-size: 12px;
    color: #FFF;
    letter-spacing: 1px;
    width: 70px;
    text-align: start;
    margin-left: 15px;
  }
  



  .notepad {
    width: 100%;
    margin-top: 50px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, .15);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
.top {
    width: 100%;
    height: 50px;
    background: #333;
    border-radius: 5px 5px 0 0;
}
.paper {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    padding: 35px 20px;
    background: repeating-linear-gradient(#f1ede9, #f1ede9 31px, #94acd4 31px, #94acd4 32px);
    font-family: 'Shadows Into Light', cursive;
    line-height: 32px;
    outline: 0;
    font-size: 22px;
}
