*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.citem img{
    width: 100%;
    height: auto;
}
.AnimationUnderNews1 {
    height: 3px;
    width: 285px;
    margin: auto;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #729dc5, #dfd2b9, #FF865E, #FEE440);
    background-size: 400% 400%;
    border-radius: 20%;

    animation: AnimationUnderNews1 2s ease infinite;
}

@keyframes AnimationUnderNews1 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.AnimationUnderNews2 {
    height: 3px;
    width: 200px;
    margin: auto;
    border-radius: 8px;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #FEE440, #FF865E, #dfd2b9, #729dc5);
    background-size: 400% 400%;
    margin-top: 5px;

    animation: AnimationUnderNews2 2s ease infinite;
}

@keyframes AnimationUnderNews2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.citem{
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
.matn{
    max-width: 1240px;
    height: auto;
    margin: 0px auto;
}
.matn h1{
    font-size: 34px;
    color: #585959;
    font-family: arial;
    text-align: center;
    padding: 34px 0px 8px 0px;
    
}
.matn h5{
    
    color: #444444;
    margin: 32px 0px;
    font-weight: 700;
}
.matn p{
    font-size: 20px;
    color: #444;
    line-height: 32px;
}
@media screen and (max-width:1300px){
    .matn{
        margin: 0px 5%;
    }
    .citem{
        width: 100%;
        height: 51vw;
    }
    .matn h1{
        padding: 24px 0px 4px 0px;
        font-size: 28px;
    }
    .matn p{
        font-size: 19px;
        line-height: 31px;
    }
    .matn h5{
        font-weight: 600;
        font-size: 19px;
    }
}
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader p {
    margin-left: 10px;
    font-size: 18px;
    color: #3d1699;

}
.sliderHeader{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.sliderHeader img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}